<h1>Edit Cheese @ViewBag.cheeseToEdit.Name</h1>

<form method="post">

    <div class="form-group">
        <label for="@ViewBag.cheeseToEdit">Name</label>
        <input class="form-control" name="name" id="@ViewBag.cheeseToEdit.CheeseId" type="text" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" name="description" id="description" type="text" />
    </div>

    <input type="submit" value="Add Cheese" />

</form>

